* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

body, html {
  flex-direction: column;
  width: 100%;
  display: flex;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 5em;
}

h3, h4, h5, h6 {
  font-size: 3em;
}

p {
  font-size: 2em;
  margin-bottom: 0.5em;
}

p.small {
  font-size: 1.5em;
}

.wrapper {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0.5em 0;
}

.list-wrapper {
  text-align: center;
}

.list-ul {
  display: inline-block;
  text-align: left;
  margin: 0 2em;
}
